div.battle-stats-panel
{
    display: none;
    text-align: right;
}

div.battle-stats-panel table
{
    border-spacing: 0;
}

div.battle-stats-panel td
{
   padding: 1px 3px;
}

div.battle-stats-panel .atk-name
{
    border-bottom-style: none;
}

div.battle-stats-panel .atk-hit
{
    border-style: none solid none none;
}

div.battle-stats-panel .atk-dmg
{
    border-style: none solid none none;
}

div.battle-stats-panel .atk-crt
{
    border-style: none solid solid none;
}

div.battle-stats-panel .def-name
{
    text-align: left;
    border-top-style: none;
}

div.battle-stats-panel .def-hit
{
    border-style: solid none none solid;
}

div.battle-stats-panel .def-dmg
{
    border-style: none none none solid;
}

div.battle-stats-panel .def-crt
{
    border-style: none none none solid;
}

div.battle-stats-panel .hit
{
    border-bottom-style: none;
}

div.battle-stats-panel .dmg
{
    border-top-style: none;
    border-bottom-style: none;
}

div.battle-stats-panel .crt
{
    border-top-style: none;
}

div.battle-stats-panel .x2
{
    color: green;
    font-weight: bold;
    display: none;
}

div.battle-stats-panel .neutral-box
{
    text-align: center;
    font-size: 9pt;
}
