div.menu  
{
    padding: 4px;
    display: none;
}

div.menu .image
{
    width: 9px;
    height: 9px;
    float: left;
    padding: 0;
    margin: 4px 5px 0px 2px;
}

div.menu .selected .image
{
    background-image: url('../images/list_arrow.png');
    background-repeat: no-repeat;
}

.sidebar .weapon-menu
{
    overflow: hidden
}

.weapon-menu .weapon-element
{
    padding: 2.5px;
    padding-right: 6px;
    float: left;
}

.menu.weapon-menu .image
{
    margin-top: 7px;
}
