body
{
    font-family: monospace;
    font-size: 11pt;
}

div.title
{
    float: left;
}

div.title h1
{
    margin: 0;
    color: #04B;
}

div.title .version
{
    color: #666;
}

div.wrapper
{
    width: 800px;
    margin: 0 auto;
}

div.game-wrapper
{
    overflow: hidden;
}

div.canvas-column
{
    float: left;
}

div.game-info h3
{
    margin: 3px;
}

div.game-info table
{
    border-spacing: 8px 0;
}

div.game-info table .control
{
    text-align: right;
}

div.sidebar
{
    width: 175px;
    float: left;
}

div.sidebar > div
{
    margin-bottom: 10px;
    clear: both;
}

div.left-sidebar
{
    margin-right: 10px;
}

div.right-sidebar
{
    margin-left: 10px;
}

div.left-sidebar > div
{
    float: right;
}

div.right-sidebar > div
{
    float: left;
}

.blue-box {
    border: 1px solid #22F;
    background-color: #B0B0FF;
}

.red-box {
    border: 1px solid #F22;
    background-color: #FFB0B0;
}

.neutral-box {
    border: 1px solid #666;
    background-color: #DDD;
}

div.unit-info
{
    visibility: hidden;
}

div.unit-info .image-wrapper
{
    float: left;
    height: 75px;
    border-right: 1px solid black;
    background: radial-gradient(#AAF, #66E);
}

div.unit-info img 
{
    width: 60px;
}

div.unit-info .not-image
{
    float: left;
    padding: 4px;
}

div.unit-info .bar
{    
    float: right;
    width: 90px;
    height: 7px;
    margin: 2px 2px 0px 2px;
    background-color: black;
}

div.unit-info .bar-filled
{
    height: 5px;
    border: 1px solid black;   
}

div.unit-info .hp-bar-filled
{
    background: linear-gradient(to right, #0B0, #0E0);
}

div.unit-info .mp-bar-filled
{
    background: linear-gradient(to right, #4AC, #7CF);
}

div.unit-info .bar-text
{
    font-size: 9pt;
    text-align: right;
}

div.menu  
{
    padding: 4px;
    display: none;
}

div.menu .image
{
    width: 9px;
    height: 9px;
    display: inline-block;
    padding: 0px;
    margin: 0px 5px 1px 2px;
}

div.menu .selected .image
{
    background-image: url('images/list_arrow.png');
    background-repeat: no-repeat;
}

div.battle-stats-panel
{
    display: none;
    text-align: right;
}

div.battle-stats-panel table
{
    border-spacing: 0;
}

div.battle-stats-panel td
{
   padding: 1px 3px;
}

div.battle-stats-panel .attacker-name
{
    border-bottom-style: none;
}

div.battle-stats-panel .attacker-hit
{
    border-style: none solid none none;
}

div.battle-stats-panel .attacker-dmg
{
    border-style: none solid solid none;
}

div.battle-stats-panel .defender-name
{
    text-align: left;
    border-top-style: none;
}

div.battle-stats-panel .defender-hit
{
    border-style: solid none none solid;
}

div.battle-stats-panel .defender-dmg
{
    border-style: none none none solid;
}

div.battle-stats-panel .hit
{
    border-bottom-style: none;
}

div.battle-stats-panel .dmg
{
    border-top-style: none;
}

div.battle-stats-panel .neutral-box
{
    text-align: center;
    font-size: 9pt;
}

.battle-unit-info-container
{
    position: absolute;
}

.battle-unit-info-container .unit-info
{
    display: inline-block;
    margin: 3px;
}

div.victory-condition
{
    padding: 5px;
}

div.message
{
    margin-bottom: 4px;
    height: 14pt;
}

div.message .phase-message
{
    display: none;
    font-size: 12pt;
    font-weight: bold;
}
div.message .victory-message
{
    display: none;
    color: blue;
    font-size: 12pt;
    font-weight: bold;
}

div.message .defeat-message
{
    display: none;
    font-size: 12pt;
    font-weight: bold;
    color: #B00
}
