.viewport-overlay
{
    display: none;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: black;
}

.unit-info-window, .level-up-window 
{
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    padding: 4px;
    z-index: 10;
}

.unit-info-window
{
    height: 230px;
}

.unit-info-window .common, .level-up-window .common
{
    padding: 5px;
    float: left;
}

.unit-info-window .common
{
    width: 120px;
}

.level-up-window .common
{
    width: 100px;
}

.unit-info-window .common img,
.level-up-window .common img
{
    border: 1px solid black;
    background: radial-gradient(#AAA, #666);
    width: 100%;
}


.unit-info-window .common .insignia img
{
    border: none;
    background: none;
    margin: 15px 0;
}

.unit-info-window .tab-container
{
    margin: 5px;
    margin-left: 12px;
    float: left;
    width: 190px;
}

.unit-info-window .tab-container .labels .tab-id
{
    display: none;
}

.unit-info-window .tab-container .labels > div
{
    border: 1px solid #666;
    background-color: #D3D3D3;
    color: #333;
    border-bottom-style: none;
    display: inline-block;
    padding: 2px;
    margin: 0 2px 0 0;
}

.unit-info-window .tab-container .labels > div.selected
{
    background-color: #007A29;
    border-color: #007A29;
    color: #EEE;
}

.unit-info-window .tab-content
{
    display: none;
}

.unit-info-window .inventory
{
    height: 115px;
}

.unit-info-window .inventory, .unit-info-window .tab-content-stats .stats,
.unit-info-window .tab-content-skills .skills
{
    border: 2px solid #007A29;
    background-color: #BEB;
    padding: 5px;
}

.unit-info-window .tab-content-inventory .item-element
{
    padding: 2px 0 3px;
}

.item-element img
{
    width: 13pt;
    float: left;
}

.item-element span
{
    padding: 0 0 0 6px;
}

.item-element.not-usable span
{
    color: #A00;
}

.unit-info-window .combat-stats
{
    border: 2px solid #007A29;
    background-color: #BEB;
    padding: 2px;
    margin-top: 8px;
}

.unit-info-window .combat-stats table
{
    width: 100%;
}

.unit-info-window .combat-stats td
{
    padding: 2px;
    width: 25%;
}

.unit-info-window .combat-stats td.stat
{
    color: #007A29;
    font-weight: bold;
}

.unit-info-window .tab-content-stats table,
.level-up-window .stats table
{
    width: 100%;
}

.unit-info-window .label
{
    font-size: 9pt;
}

.unit-info-window .tab-content-stats table .stat
{
    color: #007A29;
    font-weight: bold;
    padding-right: 15px;
}

.unit-info-window .tab-content-stats .wield 
{
    margin-top: 24px;
}

.unit-info-window .tab-content-stats .wield .weapons div
{
    display: inline-block;
    border: 1px solid rgba(40,40,40, .3);
    background-color: rgba(40,40,40, .1);
    padding: 2px;
    margin-top: 2px
}

.level-up-window .stats-container
{
    float: left;
    padding: 5px;
    width: 180px;
}

.level-up-window .level-up
{
    color: #008;
    font-size: 14pt;
    font-weight: bold;
}

.level-up-window .stats
{
    border: 2px solid #007A29;
    background-color: #BEB;
    margin-top: 4px;
    padding: 2px;
}

.level-up-window .stats .label
{
    font-size: 9pt;
}

.level-up-window .stats td
{
    padding: 3px 1px;
}

.level-up-window .stats .stat
{
    padding-right: 15px;
    text-align: right;
}

.level-up-window .stat-up
{
    color: #007A29;
    font-weight: bold;
}

.level-up-window .stats .stat img
{
    height: 10pt;
    margin-left: 4px;
    visibility: hidden;
}
