.dark-overlay
{
    display: none;
    position: absolute; 
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: black;
}

.unit-info-window 
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 4px;
    z-index: 10;
}

.unit-info-window .common
{
    padding: 5px;
    width: 120px;
    float: left;
}

.unit-info-window .common img
{
    border: 1px solid black;
    background: radial-gradient(#AAA, #666);
}

.unit-info-window .common .lord 
{
    font-size: 9pt;
    float: right;
    padding-top: 2px;
}

.unit-info-window .tab-container
{
    margin: 5px;
    float: left;
    width: 200px;
}

.unit-info-window .tab-container .labels .tab-id
{
    display: none;
}

.unit-info-window .tab-container .labels > div
{
    border: 1px solid #666;
    background-color: #D3D3D3;
    color: #333;
    border-bottom-style: none;
    display: inline-block;
    padding: 2px;
    margin: 0 2px 0 0;
}

.unit-info-window .tab-container .labels > div.selected
{
    background-color: #007A29;
    border-color: #007A29;
    color: #EEE;
}

.unit-info-window .tab-content
{
    border: 2px solid #007A29;
    background-color: #BEB;
    padding: 5px;
    display: none;
}

.unit-info-window .tab-content-inventory
{
    height: 115px;
}

.unit-info-window .tab-content-inventory div
{
    padding: 2px 0 3px;
}

.unit-info-window .tab-content-stats table
{
    width: 100%;
}


.unit-info-window .tab-content-stats table .stat
{
    color: #007A29;
    font-weight: bold;
    padding-right: 12px;
}