.vn-wrapper
{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: none;
    background-color: #191919;
}

.vn-wrapper .background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** FULL TEXTBOX *****/
.vn-wrapper .full-textbox
{
    display: none;
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: 100%;
    padding: 15px 0;
}

.vn-wrapper .full-textbox .box
{
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    color: white;
    padding: 10px;
    height: 350px;
}

.vn-wrapper .full-textbox .line
{
    padding-bottom: 11pt;
}

.vn-wrapper .vn-arrow 
{
    height: 9pt;
    vertical-align: -1px;
    margin-left: 10px;
    opacity: .75;
}

/***** CHAPTER DISPLAY *****/
.vn-wrapper .chapter-display
{
    display: none;   
    position: absolute;
    width: 530px;
    left: 50px;
    top: 280px;
    padding: 10px 20px 10px 0;
    
    text-align: right;   
    background: linear-gradient(to left, rgba(30, 30, 30, .8), 
        rgba(30, 30, 30, .8), rgba(0, 0, 0, 0));
    color: white;
}

.vn-wrapper .chapter-display .main
{
    font-size: 14pt;
    font-weight: bold;
    color: #999;
}

.vn-wrapper .chapter-display .name
{
    font-size: 12pt;
}

/***** CHATBOX *****/
.vn-wrapper .scene
{
    position: absolute;
    display: none;
}

.vn-wrapper .chatbox
{
    position: absolute;
    top: 290px;
    height: 110px;
    width: 600px;
    background-color: #333;
}

.vn-wrapper .chatbox .unit
{
    float: left;
}

.vn-wrapper .chatbox .unit .image
{
    height: 110px;
    width: 87px;
    
    border: 1px solid rgba(255, 255, 255, .7);
    border-width: 1px 1px 0 0;
}

.vn-wrapper .chatbox .unit .image img
{
    height: 109px;
    width: 87px;
    background-color: rgba(255, 255, 255, .3);
}

.vn-wrapper .chatbox .unit .name
{
    position: absolute;
    left: 0;
    top: 94px;
    font-size: 9pt;
    padding: 0 2px;
    
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .2);
}

.vn-wrapper .chatbox .text
{
    position: absolute;
    top: 0;
    left: 88px;
    
    height: 109px;
    width: 512px;
    padding: 10px;
    
    background-color: rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .4);
}