body
{
    font-family: monospace;
    font-size: 11pt;
}

div.game-wrapper
{
    width: 800px;
    margin: 0 auto;
}

canvas
{
    float: left;
}

div.sidebar
{
    width: 175px;
    float: left;
}

div.sidebar > div
{
    margin-bottom: 10px;
    clear: both;
}

div.left-sidebar
{
    margin-right: 10px;
}

div.right-sidebar
{
    margin-left: 10px;
}

div.left-sidebar > div
{
    float: right;
}

div.right-sidebar > div
{
    float: left;
}

.blue-box {
    border: 1px solid #22F;
    background-color: #B0B0FF;
}

.red-box {
    border: 1px solid #F22;
    background-color: #FFB0B0;
}

.neutral-box {
    border: 1px solid #666;
    background-color: #DDD;
}

div.unit-info
{
    padding: 5px;
    visibility: hidden;
}

div.menu  
{
    padding: 4px;
    display: none;
}

div.menu ul
{
    margin: 0;
    padding: 0;
}

div.menu li
{
    list-style-image: url('images/list_blank.png');
    list-style-position: inside;
    padding: 2px;
}

div.menu li.selected
{
    list-style-image: url('images/list_arrow.png');
}

div.battle-stats-panel
{
    display: none;
    text-align: right;
}

div.battle-stats-panel table
{
    border-spacing: 0;
}

div.battle-stats-panel td
{
   padding: 1px 3px;
}

div.battle-stats-panel .attacker-name
{
    border-bottom-style: none;
}

div.battle-stats-panel .attacker-hit
{
    border-style: none solid none none;
}

div.battle-stats-panel .attacker-dmg
{
    border-style: none solid solid none;
}

div.battle-stats-panel .defender-name
{
    text-align: left;
    border-top-style: none;
}

div.battle-stats-panel .defender-hit
{
    border-style: solid none none solid;
}

div.battle-stats-panel .defender-dmg
{
    border-style: none none none solid;
}

div.battle-stats-panel .hit
{
    border-bottom-style: none;
}

div.battle-stats-panel .dmg
{
    border-top-style: none;
}

div.battle-stats-panel .neutral-box
{
    text-align: center;
    font-size: 9pt;
}

.battle-unit-info-container
{
    position: absolute;
}

.battle-unit-info-container .unit-info
{
    display: inline-block;
    margin: 3px;
}

div.victory-condition
{
    padding: 5px;
}
