body
{
    font-family: sans-serif;
}

div.game-wrapper
{
    width: 700px;
    margin: 0 auto;
}

canvas
{
    float: left;
}

div.sidebar
{
    width: 120px;
    float: left;
    margin-right: 10px;
}

div.sidebar > div
{
    margin-bottom: 10px;
}

.blue-box {
    border: 2px solid #55F;
    background-color: #B0B0FF;
}

div.unit-info
{
    padding: 5px;
    visibility: hidden;
}

div.action-menu 
{
    padding: 4px;
    visibility: hidden;
}

div.action-menu div
{
    padding: 4px;
    padding-left: 6px;
}

div.action-menu div.selected
{
    background-color: #77F;
}
