.unit-info-window 
{
    display: inline-block;
    overflow: hidden;
    padding: 4px;
}

.unit-info-window .common
{
    padding: 5px;
    width: 120px;
    float: left;
}

.unit-info-window .common img
{
    border: 1px solid black;
}

.unit-info-window .tab-container
{
    margin: 5px;
    float: left;
    width: 200px;
}

.unit-info-window .tab-container .labels > div
{
    border: 1px solid #666;
    background-color: #D3D3D3;
    color: #333;
    border-bottom-style: none;
    display: inline-block;
    padding: 2px;
    margin: 0 2px 0 0;
}

.unit-info-window .tab-container .labels > div.selected
{
    background-color: #007A29;
    border-color: #007A29;
    color: #EEE;
}

.unit-info-window .tab-content
{
    border: 2px solid #007A29;
    background-color: #BEB;
    padding: 5px;
}

.unit-info-window .tab-content-inventory
{
    height: 115px;
    display: none;
}

.unit-info-window .tab-content-inventory div
{
    padding: 2px 0 3px;
}

.unit-info-window .tab-content-stats table
{
    width: 100%;
}


.unit-info-window .tab-content-stats table .stat
{
    color: #007A29;
    font-weight: bold;
    padding-right: 12px;
}