body
{
    font-family: sans-serif;
    font-size: 11pt;
    margin: 0;
}

div.wrapper
{
    width: 900px;
    margin: 0 auto;
    padding-top: 15px;
}

.title-bar img
{
    height: 55px;
    margin-left: 230px;
}

div.game-wrapper
{
    display: none;
    height: 350px;
    padding: 5px 0 35px;
}

div.canvas-container
{
    float: left;
    position: relative;
    width: 420px;
    height: 350px;
}

canvas
{
    position: absolute;
    top: 0;
    left: 0;
}

.invisible
{
    display: none;
}

div.sidebar
{
    float: left;
}

div.sidebar > div
{
    margin-bottom: 10px;
    clear: both;
}

div.left-sidebar
{
    margin: 0 10px;
    width: 210px;
}

div.right-sidebar
{
    margin-left: 10px;
}

div.left-sidebar > div
{
    float: right;
}

div.right-sidebar > div
{
    float: left;
}

/***** BOX TYPES *****/
.blue-box 
{
    border: 1px solid #22F;
    background-color: #B0B0FF;
}

.red-box 
{
    border: 1px solid #822;
    background-color: #E66;
}

.neutral-box 
{
    border: 1px solid #666;
    background-color: #DDD;
}

.alert-box
{
    border: 2px solid #FF3333;
    background-color: #FDB;
}

/***** ENCOUNTER *****/
.encounter-container
{
    position: absolute;
    width: 400px;
}

.encounter-container .unit-info
{
    float: left;
    margin: 3px;
}

/***** UNIT ACTION *****/
.unit-action-container 
{
    position: absolute;
    z-index: 10;
}

.unit-action-container .unit-info
{
    overflow: hidden;
}

.action-message
{
    display: none;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 6px;
    padding: 3px 8px;
}

.encounter-container .action-message
{
    clear: left;
    width: 150px;
}


.action-message img
{
    width: 25px;
    float: left;
}

.action-message span
{
    float: left;
    padding: 3px 0 0 5px;
}

.action-message span.small
{
    padding-top: 5px;
    font-size: 9pt;
}

/***** BATTLE MESSAGES *****/
div.battle-message 
{
    display: none;
    position: absolute;

    border-radius: 10px;
    border-width: 1px;
    border-style: solid;

    padding: 2px;
    font-size: 8pt;
}

div.battle-message.miss
{
    background-color: #AAF;
    border-color: blue; 
    color: #11A;
    opacity: .75;
}

div.battle-message.crit
{
    background-color: #FAA;
    border-color: orangered;
}

div.battle-message.no-dmg
{
    background-color: #DDD;
    border-color: #555;
    opacity: .75;
}

/***** SPEED MULTIPLIER BOX *****/
.speed-multiplier-box 
{
    padding: 4px;
    font-weight: bold;
    display: none;
}

/***** VICTORY CONDITION *****/
div.victory-condition
{
    padding: 5px;
    display: none;
}
