.terrain-box
{
    visibility: hidden;
    width: 100px;
    padding: 0 6px 2px 0;
}

.terrain-box img
{
    height: 25px;
    float: left;
}

.terrain-box .name
{
    float: left;
    padding: 3px 0 0 6px;
}

.terrain-box table
{
    width: 100%;
}

.terrain-box td
{
    padding: 3px 2px;
}

.terrain-box .label
{
    width: 45px;
}

.terrain-box .stat
{
    text-align: center;
}
