div.unit-info
{
    visibility: hidden;
}

.unit-info .image-wrapper
{
    float: left;
    height: 75px;
    border: 1px none black;
    border-right-style: solid;
}

.unit-info.blue-box .image-wrapper
{
    border-color: #00B;
    background: radial-gradient(#AAF, #66E);  
}

.unit-info.red-box .image-wrapper
{
    border-color: #B00;
    background: radial-gradient(#F99, #D55);  
}

.unit-info.show-status .image-wrapper
{
    border-bottom-style: solid;
}

div.unit-info img 
{
    width: 60px;
}

div.unit-info .not-image
{
    float: left;
    padding: 4px;
}

div.unit-info .equipped 
{
    width: 20px;
    float: right;
    margin: -3px -3px 0 5px;
}

div.unit-info .bar
{    
    clear: both;
    float: right;
    width: 90px;
    height: 7px;
    margin: 2px 2px 0px 2px;
    background-color: black;
}

div.unit-info .bar-filled
{
    height: 5px;
    border: 1px solid black;   
}

div.unit-info .hp-bar-filled
{
    background: linear-gradient(to right, #0B0, #0E0);
}

div.unit-info .mp-bar-filled
{
    background: linear-gradient(to right, #4AC, #7CF);
}

div.unit-info .bar-text
{
    font-size: 9pt;
    text-align: right;
    clear: both;
}

/***** STATUS LIST *****/
.unit-info .status-container
{
    clear: both;
    padding: 2px;
}

.unit-info .status-container .status
{
    overflow: hidden;
    padding: 2px;
}

.unit-info .status-container .status img
{
    width: 20px;
    float: left;
}

.unit-info .status-container .status span
{
    float: left;
    font-size: 10pt;
    padding: 2px 0 0 2px;
}

.unit-info .status-container .status.status-buff img
{
    height: 18px;
    width: 15px;
    margin: 0 1.5px;
}

.unit-info .status-container .status span.stat 
{
    float: none;
    font-size: 9pt;
}